<!DOCTYPE html>
<html>
    <head>
        <title>User</title>
        <link rel='stylesheet' href='/stylesheets/style.css' />
    </head>
    <body>
        <h1>List Users <%= users.length %></h1>
        <form action="/users  ">
            <input type="text" name="search">
            <button type="submit">Cari</button>
        </form>
        <br>
        <a href="/users/create">Add</a>
        <ul>
            <!-- IF ISSET USERS -->
            <% if(users.length > 0) { %>
                <!-- FOREACH -->
                <% users.forEach(function(user){ %>
                    <li>
                        <a href="/user/<%= user._id %> ">
                            <%= user.name %>
                        </a>
                    </li>
                <% }); %>

            <!-- ELSE -->
            <% }else { %>
                <p>Data kosong</p>
            <% } %> 
        </ul>
    </body>
</html>
